


 body {
 	background-color: #CCC;
 }
#header {
	background-color: #581515;
}



#headline, .copy {
	color: #EBEAD6;
}
.copy{
	font-size: 17px;
	text-align: center;
}

/* icon background and count*/
 .black {
 	background-color: black;

 }

 .text{
 	color: white;
 	display: block;
 }


.big{
	font-size: 3em;
	color: black;
}



.round {
	
	border-radius: 50%;
	cursor: pointer;
}


 .theCount {
 	font-size: 13px;
 	color: white;
 	font-weight: bold;
 }
/* footer section css */
 footer {
 	margin-top: 10px;
 	background-color: #581515;
 }

 #pix{

 	width:  275px;
 	height: 200px;
 }

 /* footer section css end  */
 /* team site css */
 #team {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	margin-top: 20px;
 }

p{
 	color: white;
 	font-size: 16px;
 }

 /* team site css */

